include mixin

- var path = "https://static.claro.com.pe/landings/havas/conoce_tu_recibo/";
//- var path = "";

block vars
doctype
html(lang='es')
	head
		title #{title}
		meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
		meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=no')
			
		script(type='text/javascript' src= path+'js/library/jquery.js')
		if css == 1
			+block_css
		link(rel='stylesheet' type='text/css' href=path+'css/common.css')

	body
		.layout#app
			.layout__header
				.section1
					.section1__align
						.section1__header
							span 
								section#navM
									div
									div
									div
								img(src=path+'assets/claro.png')

								//odos los derechos reservados, Claro 2018

							span 
								ul
									li#nav ¿Qué necesitas saber?

				#menuContenedor.menuContenedor
					.limit.limit--menu
						nav.menu
							a.menu__enlace(href='http://conoceturecibo.claro.com.pe/') Inicio
							a.menu__enlace(href='http://conoceturecibo.claro.com.pe/como-leer-tu-recibo-movil') ¿Cómo leer tu recibo móvil?
							a.menu__enlace(href='http://conoceturecibo.claro.com.pe/que-es-el-recibo-por-email') ¿Qué es el recibo por email?
							a.menu__enlace(href='http://conoceturecibo.claro.com.pe/lugares-de-pago') Lugares y medios de pago
							a.menu__enlace(href='http://conoceturecibo.claro.com.pe/glosario-de-facturacion') Glosario de facturación
							a.menu__enlace(href='http://conoceturecibo.claro.com.pe/dudas-y-preguntas-frecuentes') Dudas y preguntas frecuentes

			
						    

			.layout__main
				+block_content
			if modal == 1
				transition(name='fade')
					.layout__modal(v-if='modal.show' v-bind:class="{active: modal.show}")
						.overlay
							.box
								.box__inset
									+block_modal


			.layout__footer
				.section1
					.section1__align
						.section1__footer
							span 
								img(src=path+'assets/claro.png')
								| Todos los derechos reservados, Claro 2018

							span 
								ul
									li
										a(href="#" target="_blank") Sitio Institucional    
									li 
										a(href="#" target="_blank") Legal y regulatorio   
									li 
										a(href="#" target="_blank") Sistema SIRD


		script(type='text/javascript' src=path+'js/library/vue.js')
		
		if script == 1
			+block_javascript