extends includes/master

block vars
	- var script = 1;
	- var css = 0;
	- var title = 'recibo';
	- var modal = 0;

block content
	.page1
		//.page1__header
			section.section1
		.page1__main
			//section.section1
				.section1__align
					.section1__main
						.list
							.item
								.image
									img(src=path+'assets/rectangle-3.png' alt='')
								.title
									span Internet Advertising What Went Wrong
									h3 Research In <br> Advertising
									h4 Effective Advertising Pointers
									.link
										a(href="#") Buy Youtube Views

							.item
								.image
									img(src=path+'assets/rectangle-3.png' alt='')
								.title
									span Internet Advertising What Went Wrong
									h3 Research In <br> Advertising
									h4 Effective Advertising Pointers
									.link
										a(href="#") Buy Youtube Views
			section.section2
				.section2__align
					.section2__header
						.title
							h2 Bienvenido a tu nueva línea Postpago
					.section2__main
						.info
							p Debes saber que: 
								b 1. 
								| Al inicio de tu ciclo mensual se renovará el saldo de
								br
								|  tu plan con minutos, megas, SMS y otros beneficios.
								b     2.
								|  Se emitirá tu recibo y 
								br 
								|  tendrás hasta unos días después para pagarlo. 

						.link
							p ¿Aún no estás afiliado al recibo por email?

							span
								a(href="http://conoceturecibo.claro.com.pe/como-leer-tu-recibo-movil" ) Conoce más


			section.section4
				.section4__align
					.section4__header
						.title
							h2 ¿Límite de consumo?
							span Si tienes una línea postpago, puedes elegir el límite de consumo que más te convenga. 
								br
								|   Así tú decides cómo quieres comunicarte.

					.section4__main
						.list
							.item
								a.type(href="https://mi.claro.com.pe/" target="_blank")
									.image
										img(src=path+'assets/pg1_section4_image1.svg' alt='')
									.title
										h3 Consumo abierto
										span Libertad total
									.info
										p Los consumos que excedan a tu plan, se facturarán como adicionales en tu siguiente recibo.
									.link
										a(href="https://mi.claro.com.pe/" target="_blank") Ir a MiClaro


							.item
								a.type(href="http://www.claro.com.pe/personas/movil/beneficios-adicionales/?tab=postpagocambiate" target="_blank")
									.image
										img(src=path+'assets/pg1_section4_image2.svg' alt='')
									.title
										h3 Consumo adicional
										span Flexibilidad para comunicarte
									.info
										p Tu plan permite consumos adicionales hasta un máximo de un cargo fijo. 
									.link
										a(href="http://www.claro.com.pe/personas/movil/beneficios-adicionales/?tab=postpagocambiate" target="_blank") Ir a promociones


							.item
								a.type(href="http://www.claro.com.pe/personas/movil/beneficios-adicionales/?tab=postpagopaquetes" target="_blank")
									.image
										img(src=path+'assets/pg1_section4_image3.svg' alt='')
									.title
										h3 Consumo exacto
										span Todo bajo control
									.info
										p Tu plan no permite realizar consumos adicionales. Sólo podrás usar los beneficios que otorga tu plan. 
									.link
										a(href="http://www.claro.com.pe/personas/movil/beneficios-adicionales/?tab=postpagopaquetes" target="_blank") Ir a paquetes 

			section.section3
				.section3__align
					.section3__header
						.title
							h2 ¿Olvidaste pagar tu recibo y te cortaron la línea?
					.section3__main

						.info
							p Si te demoraste algunos días en pagar tu recibo y se te cortó el servicio, te explicamos lo
								br
								|    que ocurre en el siguiente video: 

						.item
							iframe(width="560" height="315" src="https://www.youtube.com/embed/xbXEyQ4Rzds?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)


						//.link
							//p ¿Aún no estás afiliado al 
								b recibo por email
								|?

							span
								a(href="#" target="_blank") Ver más escenarios






			//section.section3
				.section3__align
					.section3__header
						.title
							h2 Advertising Outdoors
					.section3__main
						.list
						
								.item
									.title
										h3 MAX 189.90 internacional 
										span S/ 189.90 al mes	
											
									.info
										ul
											li
												b Cobertura 
												| Sin Frontera: Cuentas con 12 GB, 650 minutos y 1000 minutos.
											li
												b Megas ilimitados:
												| Navega sin límites.
											li
												b Llamadas ilimitadas: 
												| A cualquier operador del Perú y LDI 3.

											li
												b Claro video:
												| meses gratis en sección Catálogo.

											li
												b SMS ilimitado:
												| Mantente comunicado a toda hora.

									.link
										a(href="#") Guardar

								.item
									.title
										h3 MAX 189.90 internacional 
										span S/ 189.90 al mes	
											
									.info
										ul
											li
												b Cobertura 
												| Sin Frontera: Cuentas con 12 GB, 650 minutos y 1000 minutos.
											li
												b Megas ilimitados:
												| Navega sin límites.
											li
												b Llamadas ilimitadas: 
												| A cualquier operador del Perú y LDI 3.

											li
												b Claro video:
												| meses gratis en sección Catálogo.

											li
												b SMS ilimitado:
												| Mantente comunicado a toda hora.

									.link
										a(href="#") Píde tu chip
								
								.item
									.title
										h3 MAX 189.90 internacional 
										span S/ 189.90 al mes	
											
									.info
										ul
											li
												b Cobertura 
												| Sin Frontera: Cuentas con 12 GB, 650 minutos y 1000 minutos.
											li
												b Megas ilimitados:
												| Navega sin límites.
											li
												b Llamadas ilimitadas: 
												| A cualquier operador del Perú y LDI 3.

											li
												b Claro video:
												| meses gratis en sección Catálogo.

											li
												b SMS ilimitado:
												| Mantente comunicado a toda hora.

									.link
										a(href="#") Píde tu chip

						.link
							span
								a(href="#") Ver más planes >
			



			section.section5
				.section5__align
					.section5__header
						.title
							h2 Servicios adicionales a tu plan
							span Si elegiste Consumo Abierto o Adicional tienes la opción de solicitar servicios que pueden sumar
								br
								|  cargos a tu facturación. Aquí te detallamos los más comunes:

					.section5__main
						.list
							.item
								a.type(href="http://conoceturecibo.claro.com.pe/glosario-de-facturacion/P" )
									.image
										img(src=path+'assets/pg1_section5_image1.jpg' alt='')
									.title
										h3 Compra de
											br
											|   paquetes de internet
										//span Libertad total
									//.info
										p Los consumos que excedan a tuplan, se facturarán como adicionales en tu siguiente recibo.
									.link
										a(href="http://conoceturecibo.claro.com.pe/glosario-de-facturacion/P" target="_blank") Ver detalles


							.item
								a.type(href="http://conoceturecibo.claro.com.pe/glosario-de-facturacion/S" )
									.image
										img(src=path+'assets/pg1_section5_image2.jpg' alt='')
									.title
										h3 Servicios de suscripción
										//span Flexibilidad para comunicarte
									//.info
										p Tu plan permite consumos adicionales hasta un máximo de un cargo fijo. 
									.link
										a(href="http://conoceturecibo.claro.com.pe/glosario-de-facturacion/S" target="_blank") Ver detalles


			section.section6
				.section6__align
					.section6__header
						.title
							h2 Conoce dónde pagar tu recibo 
							span Conoce los canales disponibles para realizar el pago de tu recibo

					.section6__main
						.list
							.item
								a(href="http://conoceturecibo.claro.com.pe/lugares-de-pago/bancos/Interbank")
									.image
										img(src=path+'assets/pg1_section6_image1.svg' alt='')
									.title
										h3 Bancos
											//span Libertad total
										//.info
											p Los consumos que excedan a tuplan, se facturarán como adicionales en tu siguiente recibo.
										//.link
											a(href="" target="_blank") Ir a MiClaro


							.item
								a(href="http://conoceturecibo.claro.com.pe/lugares-de-pago/cajeros-claro")
									.image
										img(src=path+'assets/pg1_section6_image2.svg' alt='')
									.title
										h3 Cajeros Claro
											//span Flexibilidad para comunicarte
										//.info
											p Tu plan permite consumos adicionales hasta un máximo de un cargo fijo. 
										//.link
											a(href="" target="_blank") Ir a promociones


							.item
								a(href="http://conoceturecibo.claro.com.pe/lugares-de-pago/mi-claro")
									.image
										img(src=path+'assets/pg1_section6_image3.svg' alt='')
									.title
										h3 Mi Claro
											//span Todo bajo control
										//.info
											p Tu plan no permite realizar consumos adicionales. Sólo podrás usar los beneficios que otorga tu plan. 
										//.link
											a(href="" target="_blank") Ir a recargas


							.item
								a(href="http://conoceturecibo.claro.com.pe/lugares-de-pago/puntos-autorizados")
									.image
										img(src=path+'assets/pg1_section6_image4.svg' alt='')
									.title
										h3 Puntos 
											br
											|  autorizados
											//span Todo bajo control
										//.info
											p Tu plan no permite realizar consumos adicionales. Sólo podrás usar los beneficios que otorga tu plan. 
										//.link
											a(href="" target="_blank") Ir a recargas						
					
			//section.section5
				.section5__align
					.section5__main
						//.section5__title
							h2 Tienda Claro
							span Descubre con qué equipos de Claro puedes ser parte de esta evolución
						.list
							
								.item
									.title
										h3 How To Write Better Advertising Copy
										span Válido del 01.08.18 al 31.08.18

								.item
									.title
										h3 How To Write Better Advertising Copy
										span Válido del 01.08.18 al 31.08.18
			//section.section7
				.section7__align
					.section7__main
						.list
							.item
								.image
									img(src=path+'assets/rectangle-11.png' alt='')
								.title
									//span Internet Advertising What Went Wrong
									h3 Home Business  <br> Advertising Ideas
									span There Is No Competition
									//h4 Effective Advertising Pointers
									//.link
										a(href="#") Buy Youtube Views

							.item
								.image
									img(src=path+'assets/rectangle-11.png' alt='')
								.title
									//span Internet Advertising What Went Wrong
									h3 Home Business  <br> Advertising Ideas
									span There Is No Competition
									//h4 Effective Advertising Pointers
									//.link
										a(href="#") Buy Youtube Views				
			//section.section6
				.section6__align
					.section6__main
						.title
							h2 ¡Con una sola cuenta puedes vincular hasta 5 dispositivos en simultáneo!
							img(src=path+'assets/bitmap-copy.png' alt='')
						.subtitle
							h3 Con 
								b Claro video 
									| tienes:
						.list
							.item
								.info
									ul
										li Acceso ilimitado al catálogo.
										li Descarga de contenido para ver sin conexión.
										li Disfruta de la variedad musical con nuestro karaoke exclusivo.
										li Control Parental.
										li Pin de protección para pagos.


							.item
								.info
									ul
										li Películas de estreno a S/ 9.50 y estándar a solo S/ 4.50.
										li Contenido nacional e internacional.
										li Podrás visualizar contenido de la sección Catálogo hasta en 5 dispositivos en simultáneo, mientras que el contenido de alquiler sólo en 2.

						.link
							span
								a(href="#") Conoce más aquí >
			//section.questions
				.questions__align
					.questions__main
						.questions__title
							h2 Preguntas frecuentes
						.questions__list
							ul
								li
									h3
										span
										| Will The Democrats Be Able To Reverse The Online Gambling Ban
									div
										p Will The Democrats Be Able To Reverse The Online Gambling Ban
								li
									h3
										span
										| Facts Why Inkjet Printing Is Very Appealing Compared To Ordinary Printing
									div
										p Facts Why Inkjet Printing Is Very Appealing Compared To Ordinary Printing

								li
									h3
										span
										| Business Cards Does Your Business Information Stick
									div
										p Business Cards Does Your Business Information Stick
			//section.section8
				.section8__align
					.section8__header
						.title
							h2 Ayúdanos a mejorar
							span ¿Te sirvió la información que encontraste en esta página?
					.section8__main
						.list
							
								.item
									span Si

								.item
									span No
						//.info
							.image
								img(src=path+'assets/chat.svg' alt='')
							.title
								h3 Si tienes alguna duda adicional, chatea con nosotros 
									a(href="#") aquí.						

block modal
	.page1
		.page1__close(@click='closeModal()') Cerrar
		section.section1
			.section1__main
				.section1__data
					iframe(height="315" :src="video.url" frameborder="0" allow="encrypted-media" allowfullscreen )
block css
	style(type="text/css").
			
			.fade-enter-active , .fade-leave-active {
				transition: opacity 0.25s ease-out;
			}

			.fade-enter, .fade-leave-to {
				opacity: 0;
			}

block javascript
	script(type="text/javascript" src=path+'js/library/slick.js' charset="utf-8")
	script(type='text/javascript' src=path+'js/main.js')
	//script(type='text/javascript').
		main.init('page1');